/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

body {
  height: auto;
  margin: 0 auto;
  max-width: 1024px%;
  width: 100%;
}

/* Header */
header {
  display: block;
  background-color: gray;
  height: 50%;
}
nav {
  font-size: 32px;
  background-color: white;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

ul li {
  display: inline;
  padding: 0px 16px;
}

header img {
  width: 60%;
  padding: 24px 32px;

}

.main-header {
  display: flex;
}

.start-text {
  flex-direction: column;
  padding-left: 24px;
  text-align: center;
  justify-content: center;
}

/* Section 1 */
.practice img {
  width: 60%;
  padding: 24px 32px;
}

.book-dude {
  display: flex;
  flex-direction: row;
  height: auto;
}

.practice {
  border-right: 1px solid #dedede;
  flex-basis: 60%;
  padding: 2rem 1.5rem;
}

.announcement {
  display: flex;
  flex-basis: 25%%;
  flex-direction: column;
  padding: 1rem 2rem;
}
