/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
/* Header */
header {
  display: block;
  background-color: gray;
  height: 800px;
}
nav {
  font-size: 32px;
  background-color: white;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

ul li {
  display: inline;
  padding: 0px 16px;
}

header img {
  width: 60%;
  padding: 24px 32px;

}

.main-header {
  display: flex;
}

.start-text {
  flex-direction: column;
  padding-left: 24px;
  text-align: center;
  justify-content: center;
}

/* Section 1 */
.practice img {
  width: 60%;
  padding: 24px 32px;
}

.book-dude {
  display: flex;
}
